.block {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 9px 0;

}

.hr {

    background-color: #EFEFEF;
    opacity: 0.5;
}

.link {
    color: #4051B5;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;

    &:hover {
        color: red;
    }
}