.container {
    max-width: 1300px;
    margin: 0 auto;

}

body {
    font-family: monospace;
    height: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

