.link {
    font-weight: 400;
    font-size: 18px;
    color: #11142d;
}

.link1 {
    font-weight: 700;
    font-size: 20px;
    color: #11142d;
}

.block {
    display: flex;
    gap: 140px;
}

.item {
    margin-bottom: 14px;
}

.playmarket {
    margin-bottom: 16px
}

.mainBlock {
    background-color: #EEF4FF;
    padding: 31px 0 63px 0;
    margin-top: 100px;
}